.list-container .list-header {
  height: 80px;
}

.list-container .list-header > h3 {
  margin-top: 20px;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.list-container .list-header > p {
  display: flex;
  justify-content: flex-end;
}

.list-container .list-header > p > button {
  border: none;
  background: none;
  font-size: 16px;
  color: #14718d;
  text-decoration: underline;
  padding-left: 20px;
  cursor: pointer;
}

.list-container .list-content {
  width: 100%;
  height: 500px;
  display: flex;
}

.list-container .list-content .list-tab {
  width: 20%;
  height: 100%;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 41px;
}

.list-container .list-content .list-tab > li {
  color: white;
  background-color: #917b54;
  border-bottom: 1px solid #ccc;
}

.list-container .list-content .list-tab > li:hover {
  background-color: orange;
}

.list-container .list-content .list-cont {
  width: 75%;
  height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
  margin-left: 20px;
}

.list-container .list-content .list-cont > ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-container .list-content .list-cont > ul > li {
  padding: 5px 15px;
}

.list-container .list-content .list-cont > ul > li > span {
  font-size: 22px;
  color: aqua;
  text-align: start;
}

.list-container .list-content .list-cont > ul > li > p input {
  width: 98%;
  border-radius: 10px;
  height: 40px;
  border: 1px solid #ccc;
  line-height: 40px;
}

.list-container .list-content .list-cont > ul > li > p #files {
  display: none;
}

.list-container .list-content .list-cont > ul > li > p > #fileLabel {
  width: 190px;
  height: 140px;
  display: block;
  text-align: center;
  line-height: 135px;
  font-size: 40px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.list-container .list-content .list-cont > ul > li > p > #fileLabel > img {
  width: 190px;
  height: 140px;
}

.list-container .list-content .list-cont > ul > li:last-child {
  text-align: center;
}

.list-container .list-content .list-cont > ul > li:last-child > #submit {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background-color: aqua;
}

.active {
  background-color: orange;
}
